.container{
    border: 1px solid rgb(61, 9, 9);
    text-align: center;
    width: 75%;
    margin: 0 auto;
}
.flex-box-container{
    border: 1px solid rgb(51, 6, 6);
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.flex-box-container img:hover{
 box-shadow: 0px 10px 50px rgba(37,50,233,1);
}
.h1{
    font-size: 50px;
    color: rgb(55, 61, 49);
    font-family: Arial, Helvetica, sans-serif;
}